// Elements

body {
  font: 1.4rem Helvetica, sans-serif;
  line-height: 1.8;
  color: $color-text;
  overflow-x: none;
}

h1 {
  font-size: 7vmin;
}

h2 {
  text-align: center;
  font-size: 4vmin;
}

h4 {
  line-height: 1.375em;
  font-weight: 400;
  margin-bottom: 30px;
}

a,
a:focus,
a:active,
a:visited {
  color: $color-primary;
}

a:hover {
  opacity: 0.7;
}

footer {
  font-size: 18px;
  background-color: #242424;
  color: $color-white;
}

// Overrides

.container {
  padding: 40px;
}

.col-md-4 {
  margin: 20px 0;
}

.navbar {
  background-color: $color-primary;

  .navbar-brand,
  .nav-link,
  .nav-item {
    color: $color-white !important;
    font-size: 24px;
    padding: 5px 10px 0;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

// Custom

.bg-blue {
  background-color: $color-primary;
  color: $color-white;

  a,
  a:focus,
  a:active,
  a:visited {
    color: $color-white;
    text-decoration: underline;
  }

  a:hover {
    opacity: 0.8;
  }
}

.bg-banner {
  background-color: $color-primary;
  padding: 50px 30px 0;
  color: $color-white;
}

.justin-banner-image {
  height: 600px;
}

.justin-head {
  max-width: 45px;
  border-radius: 50%;
}

.news-table-items {
  display: table;
  margin: 0 auto;
}

// Media Queries

@media screen and (max-width: 768px) {
  h2 {
    font-size: 6vmin;
  }

  .navbar {
    .navbar-brand,
    .nav-link,
    .nav-item {
      font-size: 16px !important;
    }
  }

  .justin-head {
    max-width: 30px !important;
  }
}
