.bg-blue {
  background-color: #007dda;
  color: #fff;
  a,a:focus,a:active,a:visited {
    color: #fff;
    text-decoration: underline;
  }
  a:hover {
    opacity: 0.8;
  }
}
a,a:focus,a:active,a:visited {
  color: #007dda;
}
a:hover {
  opacity: 0.7;
}

.bg-banner {
  background-color: #007dda;
  padding: 50px 30px 0px 30px;
  color: #fff;
}

.container {
  padding: 40px;
}

footer {
  font-size: 18px;
  background-color: #242424;
  color: #fff;
}

.col-md-4 {
  margin: 20px 0px;
}

h2 {
  font-size: 4vmin;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 6vmin;
  }
  .navbar {
    .navbar-brand, .nav-link, .nav-item {
      font-size: 16px !important;
    }
  }
  .justin-head {
    max-width: 30px !important;
  }
}

.logos {
  height:70px;
  max-width:100%;
  margin-top: 20px;
}

.centered-titles {
  display: flex;
  align-items: center;
  justify-content: center;
  h4 {
    font-weight: bold;
  }
}

.navbar {
  background-color: #007dda;
  .navbar-brand, .nav-link, .nav-item {
    color: #fff !important;
    font-size: 24px;
    padding: 5px 10px 0px 10px;
  }
}

.justin-head {
  max-width: 45px;
  border-radius: 50%;
}
