name: build

on:
  workflow_run:
    workflows: ['ci']
    types:
      - completed

jobs:
  build:
    if: ${{ github.ref == 'refs/heads/main' && github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - uses: justintime50/composite-actions/publish-docker@v1
        with:
          registry_url: ${{ secrets.DOCKER_REGISTRY_URL }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          image_name: justintime50/justinpaulhammond
          image_tag: ${GITHUB_SHA}
