name: ci

on: [push, pull_request]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: justintime50/composite-actions/bootstrap-php@v1
        with:
          php-version: '8.4'
      - run: docker network create traefik
      - name: Run setup Docker container
        run: |
          cd src
          cp .env-example .env
          just setup
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: justintime50/composite-actions/bootstrap-php@v1
        with:
          php-version: '8.4'
      - name: Lint project
        run: |
          cd src
          just install lint
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: justintime50/composite-actions/bootstrap-php@v1
        with:
          php-version: '8.4'
          coverage: xdebug
      - run: docker network create traefik
      - name: Run coverage report
        run: |
          cd src
          cp .env-example .env
          just setup coverage
